<div class="row d-flex "  >
    <div class="col-md-8 mx-auto ">
        <div class="card">
            <div class="card-img ">
                <img src="{{image.imageURL}}" class="card-img img-fluid" alt="">
            </div>
            <div class="text-center mt-3 mb-4"> 
                <a href="/images/add" class="btn btn-primary">Regresar</a>
            </div>
        </div>
    </div>
</div>