<div class="jumbotron mt-4 text-center bg-light">
    <h1 class="display-4">Gallery App</h1>
    <p class="lead text-left">Aplicación web que te permite almacenar Imagenes en la nube.</p>
    <hr class="my-4">
    <p class="text-left">
        Aplicación que almacena fotos en la nube con cloudinary
    </p>
    <p class="text-left">Aplicación desarrollada por <strong>José Daniel Contreras Medina</strong></p>
    <a class="btn btn-primary btn-lg" target="_blank" href="http://josedanielcm1995a.herokuapp.com/">Visita mi portafolio</a>
</div>